:root {
    --background: #FDF8F5;
    --highlight: #FF4E4E;
    --primary: #F7EDC6;
    --primary-green: #164A41;
    --shadow-green:#08342D;
    --secondary-green: #8DA242;
    --shadow: #c7c2c229;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--background);
    height: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    color: black;
    overflow: scroll;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

h5 {
    font-size: 1.25em;
}

p {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 0;
}

.button-primary {
    background-color: var(--primary-green);
    color: white;
    border-radius: 32px;
}


.button-primary:hover {
    background-color: var(--shadow-green);
}

.button-nav {
    padding: .25em 1.25em;
}

.button-body {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: .5em 1.25em;
}

.container-fluid {
    margin-top: 2em;
}

.container-fluid div {
    max-width: 70vw;
}

.arrow {
    color: gray;
    font-weight: 200;
    font-size: 2em;

    position: absolute;
    transform: translate(-50%, -90%);
    top: 90%;
    left: 50%;
}

.nav-wrap {
    padding-left: 21vw;
    padding-right: 21vw;
}

.screen-width {
    max-width: 70vw;
}

/* Header */

.header {
    background-image: url("images/header-background.png");

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -64px;
    position: relative;
}

.header .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70vw;
}

/* Nav */

/* 
.logo {
    max-width: 160px;
    width: 100%;
    height: auto;
} */

.brand {
    font-family: NotoSansJP, serif; 
    font-size: 1.5em; 
    color: var(--primary-green) !important;
    border-bottom: 1px solid var(--highlight);
}

.navbar {
    background-color: transparent;
    z-index: 100;
    position: relative;
    top: 0;

    box-shadow: 0 4px 4px var(--shadow);
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
    background-color: var(--secondary-green);
}

/* Stats Section */

.stats-bar {
    background-color: var(--primary);
    padding: 2em 0;
}
.stats-list{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.separator-element {
    border-left: 2px solid var(--highlight);
    border-right: 2px solid var(--highlight);
    padding: 0 5em;
    margin: auto -4em;
}

.stats-list li * {
    align-items: stretch;
    margin: 0;
}

.stats-wrapper {
    margin: 0 auto; 
    max-width: 70vw;
}

/* body content */
.body-container {
    text-align: center;
    margin: 0 auto;

    background-image: url("images/body-background.png");

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    padding: auto;
}

.body-section h3 {
    line-height: 2;
}

.section-right {
    padding: 3.5em 0;
    margin: 0 auto;
}

.image-shadow {
    box-shadow: 2px 2px 6px #00000029;
    border-radius: 16px;
}

/* Quote */

.quote {
    background-color: #FCFCFC; 
    box-shadow: 0 4px 4px var(--shadow-green); 
    margin-top: 4em; padding: 1em;
}

.quote h3 {
    font-weight: normal; 
    margin-bottom: 0; 
    line-height: 1.5;
}

/* inbox snapshot component */
.inbox-snapshot {
    background-color: #ffffff78;
    margin-top: .5em;
    padding: 1em 0;
    margin: 0 auto;
}

.inbox-email-categories {
    list-style-type: none;
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: .5em;
}

.compose-button {
    background-color: #FF4E4E91;
    padding: .5em 4em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;
    color: white;
    margin: 1.5em 2em 0 2em;

    pointer-events: none;
}

/* Reduce Text container*/

.reduce-container {
    background-color: var(--primary-green);
    border-radius: 16px;
    padding: 2em 4em;
    margin: 0 auto 12em auto;
    max-width: 560px;
    color: white;
    text-align: left;
}

.reduce-container h3 {
    font-size: 2em;
}

/* Footer */
.footer {
    background-color: var(--primary);
    height: 4em;
    padding: 1em 0;
}

.footer .nav-wrap .brand {
    font-size: 1.1em;
    margin-right: 0;
    border-bottom: 0;
}


/* Responsive - Small Devices */
@media only screen and (max-width: 768px) {

    body {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
    }

    h1, h2, h3, h4, h5 {
        line-height: 1.25;
    }

    h2 {
        font-size: 2em;
    }

    .container-fluid div {
        max-width: none;
    }

    .navbar {
        box-shadow: none;
    }

    .nav-wrap {
        padding: 0;
        margin-top: .5em;
    }

    .brand {
        margin-left: 1em;
    }

    .navbar-toggler {
        margin-right: 1em;
        padding-top: .5em;
    }

    #navbarContentList {
        z-index: 101;
    }

    #navbarContent {
        text-align: right;
        justify-content: right;
    }

    .header {
        background-position: 60% center;
    }

    .stats-bar {
        margin-top: -36vh;
    }

    .stats-wrapper {
        margin: 0 auto;
        max-width: none;
    }

    .separator-element {
        padding: 0 1em;
        margin: 0 auto;
    }

    /* Mobile Nav*/
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
        display: none;

        background-color: white;
        height: 100vh;
    }

    .navbar-collapse.collapsing {
        height: 100vh;
        margin-left: 50%;
        left: 50%;
        transition: all 0.3s ease;
        display: block;
    }

    .navbar-collapse.show {
        left: 0;
    }
}